﻿# Default ignored files
/.idea/.gitignore
/.idea/.idea.MongoHell.dir/.idea/contentModel.xml
/.idea/.idea.MongoHell.dir/.idea/indexLayout.xml
/.idea/.idea.MongoHell.dir/.idea/modules.xml
/.idea/.idea.MongoHell.dir/riderModule.iml
/.idea/.idea.MongoHell.dir/.idea/vcs.xml
